openapi: 3.2.0
info:
  title: Domaintools Information API
  version: 1.0.0
  contact:
    name: DomainTools Support
    url: https://www.domaintools.com/support
    email: enterprisesupport@domaintools.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.domaintools.com/company/terms-of-service/
  description: 'Operations tagged Information across 2 of this provider''s published API definitions: domaintools-iris-openapi.yml, domaintools-lookups-monitors-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: DomainTools APIs
  url: https://api.domaintools.com
security:
- header_auth: []
- open_key_auth: []
- hmac_auth: []
tags:
- name: Information
  description: 'Access the latest information about your account, including service

    limits.

    '
paths:
  /v1/account/:
    get:
      operationId: getAccountInfo
      summary: Account Information
      description: 'Information of the active API endpoints, rate limits and usage for an account.

        '
      tags:
      - Information
      parameters:
      - $ref: '#/components/parameters/appPartner'
      - $ref: '#/components/parameters/appName'
      - $ref: '#/components/parameters/appVersion'
      - $ref: '#/components/parameters/responseFormat'
      responses:
        '200':
          $ref: '#/components/responses/AccountSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      externalDocs:
        url: https://docs.domaintools.com/api/iris/account-info/
    servers:
    - description: DomainTools APIs
      url: https://api.domaintools.com
components:
  schemas:
    HtmlResponse:
      type: string
      description: 'HTML-formatted response body. JSON is the primary documented format; HTML response schemas are not individually documented.

        '
    AccountInformation:
      type: object
      description: 'Contains the account details and a list of product subscriptions.

        '
      properties:
        response:
          type: object
          properties:
            account:
              type: object
              description: 'Basic details about the API account.

                '
              properties:
                api_username:
                  type: string
                  description: 'The username associated with the account.

                    '
                  example: api_user
                active:
                  type: boolean
                  description: 'Indicates if the account is currently active.

                    '
                  example: true
            products:
              type: array
              description: 'A list of product subscriptions including usage limits and expiration dates.

                '
              items:
                type: object
                description: 'Details for a single product subscription. Keys include id, rate limits, usage, and expiration_date.

                  '
                example:
                  id: domain-profile
                  per_month_limit: '50000'
                  per_hour_limit: null
                  per_minute_limit: '120'
                  absolute_limit: null
                  usage:
                    today: '0'
                    month: '1'
                  expiration_date: '2027-12-30'
    IdentifierString:
      type: string
      minLength: 1
      maxLength: 128
      description: A short identifier, code, or handle.
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              description: An internal error code.
            message:
              type: string
              description: A human-readable error message.
        resources:
          type: object
          description: Links to support or documentation resources.
          properties:
            support:
              type: string
              description: URL to API documentation or support.
    XmlResponse:
      type: string
      description: 'XML-formatted response body. JSON is the primary documented format; XML response schemas are not individually documented.

        '
    ResponseFormat:
      type: string
      enum:
      - html
      - json
      - xml
      description: 'The desired response format.

        '
  parameters:
    appVersion:
      name: app_version
      in: query
      description: 'Version of your integration/connector.

        '
      schema:
        $ref: '#/components/schemas/IdentifierString'
    appName:
      name: app_name
      in: query
      description: 'Appliance, module, or playbook, or any combination of these.

        '
      schema:
        $ref: '#/components/schemas/IdentifierString'
    appPartner:
      name: app_partner
      in: query
      description: 'Your product name.

        '
      schema:
        $ref: '#/components/schemas/IdentifierString'
    responseFormat:
      name: format
      in: query
      description: 'Specifies the desired response format.

        '
      schema:
        $ref: '#/components/schemas/ResponseFormat'
  responses:
    Unauthorized:
      description: '401: Unauthorized. API credentials are required and were not provided, or the provided credentials are not valid.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    AccountSuccess:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccountInformation'
        application/xml:
          schema:
            $ref: '#/components/schemas/XmlResponse'
        text/html:
          schema:
            $ref: '#/components/schemas/HtmlResponse'
    Forbidden:
      description: '403: Forbidden. The API credentials provided do not have access to the requested resource or endpoint.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: '503: Service Unavailable. The service is temporarily unavailable.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: '404: Not Found. The requested resource does not exist.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: '500: Internal Server Error. An unexpected error occurred on the server. If the problem persists, contact DomainTools support.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: '400: Bad Request. The request was invalid. The response will contain details about the error.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    header_auth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: 'A secure authentication method where the API key is provided in the `X-Api-Key` HTTP request header.

        '
    open_key_auth:
      type: http
      scheme: basic
      description: 'A simple authentication scheme using your `api_username` as the username and your `api_key` as the password. We strongly recommend using HMAC or Header authentication instead to avoid exposing your credentials.

        '
    hmac_auth:
      type: apiKey
      in: query
      name: signature
      description: 'A secure scheme using a Hashed Message Authentication Code (HMAC).

        This method requires three query parameters to be sent with the request:

        1. `api_username`: Your API username.

        2. `timestamp`: The current timestamp in ISO 8601 format (e.g., `2020-02-01T22:37:59Z`).

        3. `signature`: The HMAC signature of the request. This is a hash (SHA-256 recommended) of your username, the timestamp, and the request URI, signed with your secret API key.

        '
x-refined-from:
- domaintools-iris-openapi.yml
- domaintools-lookups-monitors-openapi.yml
