openapi: 3.2.0
info:
  version: '2.0'
  title: dnsdb rrset Lookups API
  description: dnsdb
  contact:
    name: DomainTools Support
    url: https://www.domaintools.com/support
    email: enterprisesupport@domaintools.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.domaintools.com/company/terms-of-service/
servers:
- url: https://api.dnsdb.info/dnsdb/v2
- url: https://dnsdbfront.labs.fsi.io/dnsdb/v2
tags:
- name: rrset Lookups
paths:
  /lookup/rrset/{type}/{value}:
    parameters:
    - $ref: '#/components/parameters/value'
    - $ref: '#/components/parameters/rrset_type'
    - $ref: '#/components/parameters/time_first_before'
    - $ref: '#/components/parameters/time_first_after'
    - $ref: '#/components/parameters/time_last_before'
    - $ref: '#/components/parameters/time_last_after'
    - $ref: '#/components/parameters/limit'
    - $ref: '#/components/parameters/swclient'
    - $ref: '#/components/parameters/version'
    - $ref: '#/components/parameters/id'
    - $ref: '#/components/parameters/aggr'
    - $ref: '#/components/parameters/humantime'
    - $ref: '#/components/parameters/offset'
    get:
      operationId: lookupRrset
      summary: Forward DNS lookup by owner name
      description: Lookup all RRsets whose owner name is ...
      tags:
      - rrset Lookups
      security:
      - apikey: []
      responses:
        '200':
          $ref: '#/components/responses/lookup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
  /lookup/rrset/{type}/{value}/{rrtype}:
    parameters:
    - $ref: '#/components/parameters/rrset_type'
    - $ref: '#/components/parameters/value'
    - $ref: '#/components/parameters/rrtype'
    - $ref: '#/components/parameters/time_first_before'
    - $ref: '#/components/parameters/time_first_after'
    - $ref: '#/components/parameters/time_last_before'
    - $ref: '#/components/parameters/time_last_after'
    - $ref: '#/components/parameters/limit'
    - $ref: '#/components/parameters/swclient'
    - $ref: '#/components/parameters/version'
    - $ref: '#/components/parameters/id'
    - $ref: '#/components/parameters/aggr'
    - $ref: '#/components/parameters/humantime'
    - $ref: '#/components/parameters/offset'
    get:
      operationId: lookupRrsetByType
      summary: Forward DNS lookup filtered by RR type
      description: Lookup all RRsets whose owner name ends in ... of type rrtype
      tags:
      - rrset Lookups
      security:
      - apikey: []
      responses:
        '200':
          $ref: '#/components/responses/lookup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
  /lookup/rrset/{type}/{value}/{rrtype}/{bailiwick}:
    parameters:
    - $ref: '#/components/parameters/rrset_type'
    - $ref: '#/components/parameters/value'
    - $ref: '#/components/parameters/rrtype'
    - $ref: '#/components/parameters/bailiwick'
    - $ref: '#/components/parameters/time_first_before'
    - $ref: '#/components/parameters/time_first_after'
    - $ref: '#/components/parameters/time_last_before'
    - $ref: '#/components/parameters/time_last_after'
    - $ref: '#/components/parameters/limit'
    - $ref: '#/components/parameters/swclient'
    - $ref: '#/components/parameters/version'
    - $ref: '#/components/parameters/id'
    - $ref: '#/components/parameters/aggr'
    - $ref: '#/components/parameters/humantime'
    - $ref: '#/components/parameters/offset'
    get:
      operationId: lookupRrsetByTypeAndBailiwick
      summary: Forward DNS lookup filtered by RR type and bailiwick
      tags:
      - rrset Lookups
      security:
      - apikey: []
      responses:
        '200':
          $ref: '#/components/responses/lookup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
  /summarize/rrset/{type}/{value}:
    parameters:
    - $ref: '#/components/parameters/value'
    - $ref: '#/components/parameters/rrset_type'
    - $ref: '#/components/parameters/time_first_before'
    - $ref: '#/components/parameters/time_first_after'
    - $ref: '#/components/parameters/time_last_before'
    - $ref: '#/components/parameters/time_last_after'
    - $ref: '#/components/parameters/limit'
    - $ref: '#/components/parameters/swclient'
    - $ref: '#/components/parameters/version'
    - $ref: '#/components/parameters/id'
    - $ref: '#/components/parameters/aggr'
    - $ref: '#/components/parameters/humantime'
    - $ref: '#/components/parameters/max_count'
    get:
      operationId: summarizeRrset
      summary: Summary stats for RRsets by owner name
      description: Summarize all RRsets whose owner name is ...
      tags:
      - rrset Lookups
      security:
      - apikey: []
      responses:
        '200':
          $ref: '#/components/responses/summarize'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
  /summarize/rrset/{type}/{value}/{rrtype}:
    parameters:
    - $ref: '#/components/parameters/rrset_type'
    - $ref: '#/components/parameters/value'
    - $ref: '#/components/parameters/rrtype'
    - $ref: '#/components/parameters/time_first_before'
    - $ref: '#/components/parameters/time_first_after'
    - $ref: '#/components/parameters/time_last_before'
    - $ref: '#/components/parameters/time_last_after'
    - $ref: '#/components/parameters/limit'
    - $ref: '#/components/parameters/swclient'
    - $ref: '#/components/parameters/version'
    - $ref: '#/components/parameters/id'
    - $ref: '#/components/parameters/aggr'
    - $ref: '#/components/parameters/humantime'
    - $ref: '#/components/parameters/max_count'
    get:
      operationId: summarizeRrsetByType
      summary: Summary stats for RRsets filtered by type
      description: Summarize all RRsets whose owner name is ... of rrtype
      tags:
      - rrset Lookups
      security:
      - apikey: []
      responses:
        '200':
          $ref: '#/components/responses/summarize'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
  /summarize/rrset/{type}/{value}/{rrtype}/{bailiwick}:
    parameters:
    - $ref: '#/components/parameters/rrset_type'
    - $ref: '#/components/parameters/value'
    - $ref: '#/components/parameters/rrtype'
    - $ref: '#/components/parameters/bailiwick'
    - $ref: '#/components/parameters/time_first_before'
    - $ref: '#/components/parameters/time_first_after'
    - $ref: '#/components/parameters/time_last_before'
    - $ref: '#/components/parameters/time_last_after'
    - $ref: '#/components/parameters/limit'
    - $ref: '#/components/parameters/swclient'
    - $ref: '#/components/parameters/version'
    - $ref: '#/components/parameters/id'
    - $ref: '#/components/parameters/aggr'
    - $ref: '#/components/parameters/humantime'
    - $ref: '#/components/parameters/max_count'
    get:
      operationId: summarizeRrsetByTypeAndBailiwick
      summary: Summary stats for RRsets filtered by type and bailiwick
      tags:
      - rrset Lookups
      security:
      - apikey: []
      responses:
        '200':
          $ref: '#/components/responses/summarize'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
components:
  headers:
    X-RateLimit-Expires:
      description: when period expires
      schema:
        type: string
        pattern: ^\d+$
      allowEmptyValue: true
    X-RateLimit-Reset:
      description: when period resets
      schema:
        oneOf:
        - type: string
          pattern: ^\d+$
        - type: string
          enum:
          - n/a
    X-RateLimit-Remaining:
      description: remaining in period
      schema:
        oneOf:
        - type: string
          pattern: ^\d+$
        - type: string
          enum:
          - n/a
    X-RateLimit-Limit:
      description: limit in period
      schema:
        oneOf:
        - type: string
          pattern: ^\d+$
        - type: string
          enum:
          - unlimited
  parameters:
    rrtype:
      in: path
      name: rrtype
      description: rrtype
      required: true
      schema:
        type: string
    version:
      in: query
      name: version
      description: version
      required: false
      schema:
        type: string
    time_last_after:
      in: query
      name: time_last_after
      description: time last after
      required: false
      schema:
        type: number
    time_first_before:
      in: query
      name: time_first_before
      description: time first before
      required: false
      schema:
        type: number
    offset:
      in: query
      name: offset
      description: offset
      required: false
      schema:
        type: number
        minimum: 0
    humantime:
      in: query
      name: humantime
      description: humantime
      required: false
      schema:
        type: boolean
    time_first_after:
      in: query
      name: time_first_after
      description: time first after
      required: false
      schema:
        type: number
    time_last_before:
      in: query
      name: time_last_before
      description: time last before
      required: false
      schema:
        type: number
    aggr:
      in: query
      name: aggr
      description: aggr
      required: false
      schema:
        type: boolean
    rrset_type:
      in: path
      name: type
      description: Type of query
      required: true
      schema:
        type: string
        enum:
        - name
        - raw
    swclient:
      in: query
      name: swclient
      description: swclient
      required: false
      schema:
        type: string
    id:
      in: query
      name: id
      description: id
      required: false
      schema:
        type: string
    bailiwick:
      in: path
      name: bailiwick
      description: bailiwick
      required: true
      schema:
        type: string
    max_count:
      in: query
      name: max_count
      description: max count
      required: false
      schema:
        type: number
        minimum: 1
    value:
      in: path
      name: value
      description: Value
      required: true
      schema:
        type: string
    limit:
      in: query
      name: limit
      description: Limit
      required: false
      schema:
        type: number
        minimum: 1
  schemas:
    summarize:
      type: object
      properties:
        count:
          type: number
        num_results:
          type: number
        time_first:
          type: number
        time_last:
          type: number
        zone_time_first:
          type: number
        zone_time_last:
          type: number
      required:
      - count
      - num_results
      anyOf:
      - required:
        - time_first
        - time_last
      - required:
        - zone_time_first
        - zone_time_last
    pdns_cof:
      type: object
      properties:
        rrname:
          type: string
        rrtype:
          type: string
        bailiwick:
          type: string
        rdata:
          oneOf:
          - type: array
            items:
              type: string
          - type: string
        count:
          type: number
        time_first:
          type: number
        time_last:
          type: number
        zone_time_first:
          type: number
        zone_time_last:
          type: number
      required:
      - rrname
      - rrtype
      - count
      additionalProperties: false
      oneOf:
      - required:
        - time_first
        - time_last
      - required:
        - zone_time_first
        - zone_time_last
  responses:
    Forbidden:
      description: Authenticated but not authorized for this resource.
      content:
        text/plain:
          schema:
            type: string
    lookup:
      description: 'lookup response

        '
      content:
        application/x-ndjson:
          schema:
            type: array
            items:
              type: object
              properties:
                obj:
                  $ref: '#/components/schemas/pdns_cof'
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
        X-RateLimit-Expires:
          $ref: '#/components/headers/X-RateLimit-Expires'
    BadGateway:
      description: Upstream server error.
      content:
        text/html:
          schema:
            type: string
    summarize:
      description: 'summarize response

        '
      content:
        application/x-ndjson:
          schema:
            type: array
            items:
              type: object
              properties:
                obj:
                  $ref: '#/components/schemas/summarize'
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
        X-RateLimit-Expires:
          $ref: '#/components/headers/X-RateLimit-Expires'
    RateLimited:
      description: Rate limit exceeded.
      content:
        text/plain:
          schema:
            type: string
    BadRequest:
      description: Unable to parse request.
      content:
        text/plain:
          schema:
            type: string
    Unauthorized:
      description: Invalid or missing API key.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
  securitySchemes:
    apikey:
      type: apiKey
      in: header
      name: X-API-KEY
